* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body {
    background-color: antiquewhite;
}

.header {
    height: 90px;
    width: 100%;
    background-color: #133E87;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLinksDiv {
    display: flex;
    gap: 75px;
}

@media screen and (max-width: 800px) {
    .headerLinksDiv {
      gap: 25px;
    }
}

.headerLinks {
    color: white;
    font-size: 16pt;
    text-decoration: none;
    font-family: "Russo One", sans-serif;
}
.headerLinks:hover {
    color: lightblue;
}

h1 {
    color: #133E87;
    font-size: 24pt;
}

.bodyCopy {
    display: flex;
    justify-self: center;
    align-self: center;
    text-align: left;
    font-size: 16pt;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    line-height: 40px;
    width: 50vw;
}

@media screen and (max-width: 800px) {
    .bodyCopy {
        text-align: center;
    }
}

.vertSpacer {
    width: 5px;
}

.imgBox {
    display: flex;
    justify-content: center;
}

.image {
    max-width: 60vw;
    height: auto;
    align-self: center;
}

@media screen and (max-width: 800px) {
    .image {
        max-width: 90vw;
    }
}

.introText {
    margin-top: 40px;
}

.spacer {
    height: 50px;
}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.siteHeader {
    color: white;
    font-size: 32pt;
    padding: 25px;
    font-family: "Russo One", sans-serif;
    text-align: center;
}

.wrapper {
    background-color: #133E87;
}

.subhead {
    background-color: #133E87;
    color: rgb(187, 187, 187);
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 16pt;
    font-family: "Russo One", sans-serif;
}

.footer {
    height: 90px;
    width: 100%;
    background-color: #133E87;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    font-family: "Russo One", sans-serif;
}

.backToTop {
    display: flex;
    justify-content: center;
    font-size: 24pt;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: "Russo One", sans-serif;
}

.bottomLink:hover {
    color: lightblue;
}

.footerText {
    color: white;
    align-self: center;
}