* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

.montserrat-bodycopy {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.lora-h1 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
    background-color: antiquewhite;
}

.header {
    height: 90px;
    width: 100%;
    background-color: #133E87;
    display: flex;
    align-items: center;
    justify-content: center;
}

.siteLogo {
  max-width: 100vw;
  max-height: 250px;
  display: flex;
  justify-self: center;
}

.headerLinksDiv {
    display: flex;
    gap: 75px;
}

@media screen and (max-width: 800px) {
    .headerLinksDiv {
      gap: 25px;
    }
}

.headerLinks {
    color: white;
    font-size: 16pt;
    text-decoration: none;
    font-family: "Russo One", sans-serif;
}
.headerLinks:hover {
    color: lightblue;
}

#menu {
	background: #133E87;
	height: 45px;
	border-radius: 10px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
#menu ul {
	width: 100%;
	text-align: left;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu a {
	  color: white;
    font-size: 16pt;
    text-decoration: none;
    font-family: "Russo One", sans-serif;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #0099CC;
	background: #F2F2F2;
  cursor: pointer;
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 120px;
	background: #444444;
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	text-align: center;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}

h1 {
    color: #133E87;
    font-size: 24pt;
    font-family: "Lora", serif;
}

@media screen and (max-width: 800px) {
    h1 {
    font-size: 18pt;
    }
}

.bodyCopy {
  text-align: left;
  font-size: 16pt;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  width: 60%;
  display: flex;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 800px) {
  .bodyCopy {
      font-size: 12pt;
      line-height: 20pt;
  }
}

.vertSpacer {
    width: 5px;
}

.imgBox {
    display: flex;
    justify-content: center;
}

.image {
    max-width: 60vw;
    height: auto;
    align-self: center;
}

@media screen and (max-width: 800px) {
    .image {
        max-width: 90vw;
    }
}

.introText {
    margin-top: 40px;
    background-color: tan;
    width: 60vw;
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.introText2 {
    background-color: tan;
    width: 60vw;
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.spacer {
    height: 50px;
}

@media screen and (max-width: 800px) {
    .spacer {
        height: 25px;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.siteHeader {
    color: white;
    font-size: 32pt;
    padding: 25px;
    font-family: "Russo One", sans-serif;
    text-align: center;
}

.wrapper {
    background-color: #133E87;
}

.subhead {
    background-color: #133E87;
    color: rgb(187, 187, 187);
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 16pt;
    font-family: "Russo One", sans-serif;
}

.footer {
    height: 90px;
    width: 100%;
    background-color: #133E87;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    font-family: "Russo One", sans-serif;
}

.backToTop {
    display: flex;
    justify-content: center;
    font-size: 24pt;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: "Russo One", sans-serif;
}

.bottomLink {
    font-family: "Lora", serif;
}

.bottomLink:hover {
    color: lightblue;
}

.footerText {
    color: white;
    align-self: center;
}