* {
    margin: 0;
}

body {
    background-color: antiquewhite;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

.header {
    height: 90px;
    width: 100%;
    background-color: #133E87;
    display: flex;
    align-items: center;
    justify-content: center;
}

.siteLogo {
  max-width: 100vw;
  max-height: 300px;
  display: flex;
  justify-self: center;
}

.headerLinksDiv {
    display: flex;
    gap: 75px;
}

@media screen and (max-width: 800px) {
    .headerLinksDiv {
      gap: 25px;
    }
  }

.headerLinks {
    color: white;
    font-size: 16pt;
    text-decoration: none;
    font-family: "Russo One", sans-serif;
}
.headerLinks:hover {
    color: lightblue;
}

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.siteHeader {
    color: white;
    font-size: 32pt;
    padding: 25px;
    font-family: "Russo One", sans-serif;
    text-align: center;
}

.wrapper {
    background-color: #133E87;
}

.subhead {
    background-color: #133E87;
    color: rgb(187, 187, 187);
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 16pt;
    font-family: "Russo One", sans-serif;
}

.spacer {
    height: 50px;
}

.topTextDragDrop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.dragDrop {
    background-image: repeating-linear-gradient(0deg, #333333, #333333 10px, transparent 10px, transparent 20px, #333333 20px), repeating-linear-gradient(90deg, #333333, #333333 10px, transparent 10px, transparent 20px, #333333 20px), repeating-linear-gradient(180deg, #333333, #333333 10px, transparent 10px, transparent 20px, #333333 20px), repeating-linear-gradient(270deg, #333333, #333333 10px, transparent 10px, transparent 20px, #333333 20px);
    background-size: 3px calc(100% + 20px), calc(100% + 20px) 3px, 3px calc(100% + 20px) , calc(100% + 20px) 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    animation: borderAnimation 0.8s infinite linear;
    text-align: center;
    padding: 30px;
    width: fit-content;
    height: fit-content;
    font-size: 16pt;
    font-family: "Russo One", sans-serif;
    }
    
    @keyframes borderAnimation {
    from { background-position: 0 0, -20px 0, 100% -20px, 0 100%; }
    to { background-position: 0 -20px, 0 0, 100% 0, -20px 100%; }
}

.browseFiles {
    border-color: #133E87;
    border-radius: 5px;
    background-color: antiquewhite;
    width:fit-content;
    justify-self: center;
    padding: 5px;
    font-size: 16pt;
    color: #133E87;
    box-shadow: 5px 5px;
}

.browseFiles:hover {
    background-color: turquoise;
}

.browseFiles:active {
    background-color: rgb(44, 160, 148);
    transform: translateY(4px);
}

.topText {
    width: 50vw;
}

.primaryHeader {
    color: #133E87;
    font-size: 24pt;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .primaryHeader {
      line-height: 25px;
      font-size: 16pt;
    }
  }

.bodyCopy {
  text-align: left;
  font-size: 16pt;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
}

@media screen and (max-width: 800px) {
  .bodyCopy {
      font-size: 12pt;
      line-height: 20pt;
  }
}

.flexGallery {
    width: 100vw;
    display: flex;
    justify-self: center;
    align-self: center;
}

.centerGallery {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 25px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
    .centerGallery {
      margin-left: 0;
    }
}

img {
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
/* Create four equal columns that sits next to each other */
.column {
    flex: 24%;
    max-width: 24%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      flex: 48%;
      max-width: 48%;
    }
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1400px) {
    .column {
      flex: 48%;
      max-width: 48%;
    }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .topText {
        margin-right: 20px;
    }
}

.footer {
    height: 90px;
    width: 100%;
    background-color: #133E87;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    font-family: "Russo One", sans-serif;
}

.backToTop {
    display: flex;
    justify-content: center;
    font-size: 24pt;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: "Russo One", sans-serif;
}

.bottomLink:hover {
    color: lightblue;
}

.footerText {
    color: white;
    align-self: center;
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}
  
#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
}
